#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /* Footer height */
    padding-bottom: 3.5rem;
      /* Menu height - margin of content-head */
    padding-top: 1.5rem;
  /* Test! */
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.footer {
    background: #2d3e50;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: darkgrey;
}

.footer a {
    color: darkgrey;
}

.l-box-block {
    /* Bei mehrspaltigem Text: Blocksatz, Silbentrennung, kein Rand oben unten für mobile Ansichten */
    text-align: justify;
    hyphens: auto;
    padding-top: 0em;
    padding-bottom: 0em;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

.headline h1 {
    font-size: 256%;
    font-weight: lighter;
}
.headline h2{
    font-size: 128%;
    font-weight: lighter;
}

.pure-table{
    hyphens: auto;
    font-size: 14px;
}

@media (min-width: 48em){

.content-center, .content {
/* good idea?! */
    padding-left: 2em;
    padding-right: 2em;
}

#content-wrap {
    font-size: 16px;
}

.pure-table{
    font-size: 16px;
}

.l-box-block {
    /* Bei mehrspaltigem Text: Blocksatz, Silbentrennung, kein Rand oben unten für mobile Ansichten */
    padding-left: 2em;
    padding-right: 2em;
}

}