.glightbox-clean .gdesc-inner, .glightbox-modern .gdesc-inner{
    background-color: #2d3e50;
}

.glightbox-clean .gslide-desc, .glightbox-modern .gslide-desc {
    font-size: 0.95em;
    margin-bottom: 0;
    font-family: sans-serif;
    color: white;
    line-height: 1.4em;
    letter-spacing: normal;
}

.glightbox-clean .gslide-title, .glightbox-modern .gslide-title {
    font-size: 1.1em;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    margin-bottom: 15px;
    line-height: 1.4em;
    letter-spacing: 0.07em;
}